/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex mono';
  --bg-color: #000028;
  --main-text-color: #F1B2CE;
  --heading-title-color: #DB00FF;
  --article-title-color:#000028;
  --card-title-color: #FF0070;
  --accent-color: #FF0070;
  --rec-color: #FF0070;
}